apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-server
  namespace: monitoring
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s
    
    scrape_configs:
    - job_name: 'prometheus'
      static_configs:
      - targets: ['localhost:9090']
    
    - job_name: 'spring-app'
      static_configs:
      - targets: ['spring-app.monitoring.svc.cluster.local:9991']
      metrics_path: /actuator/prometheus