apiVersion: apps/v1
kind: Deployment
metadata:
  name: spring-app
  namespace: monitoring
spec:
  replicas: 1
  selector:
    matchLabels:
      app: spring-app
  template:
    metadata:
      labels:
        app: spring-app
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/path: "/actuator/prometheus"
        prometheus.io/port: "9991"
        prometheus.io/scheme: "http"
    spec:
      containers:
      - name: spring-app
        image: spring-app:latest
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 9991
