server:
  port: 9991

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  metrics:
    tags:
      application: test-spring-app
  endpoint:
    prometheus:
      enabled: true
    metrics:
      enabled: true

logging:
  level:
    org.springframework: INFO
    org.mifistudy.grechko: INFO
